{% extends "layout.html" %}

{% block body %}
  <h1>Dashboard <small>Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="{{ url_for('my_dashboard.add_article')}}">Add Article</a>
  <hr>
  <table class="table table-striped" >
    <tr>
      <th scope="col">ID</th>
      <th scope="col" >Title</th>
      <th scope="col">Author</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article["id"]}}</td>
        <td>{{article["title"]}}</td>
        <td>{{article["author"]}}</td>
        <td>{{article["create_date"]}}</td>
        <td><a href="{{ url_for("my_dashboard.edit_article", id=article.id) }}" class="btn btn-default pull-right" >EDIT</a></td>
        <td>
          <form action="{{ url_for("my_dashboard.delete_article", id=article.id) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}